<!DOCTYPE html>
<html>

<head>
	<title>{{.Title}}</title>
	<style>
		body {
			font-family: monospace;
		}

		.benchtable th,
		.benchtable td {
			padding: 0.3em 1em;
		}

		.benchtable th {
			font-weight: bold;
			text-align: left;
		}

		canvas {
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select: none;
		}

		#chartjs-tooltip {
			opacity: 1;
			position: absolute;
			background: rgba(0, 0, 0, .7);
			color: white;
			border-radius: 3px;
			-webkit-transition: all .1s ease;
			transition: all .1s ease;
			pointer-events: none;
			-webkit-transform: translate(-50%, 0);
			transform: translate(-50%, 0);
		}

		#chartjs-tooltip table td {
			color: white;
		}

		.chartjs-tooltip-key {
			display: inline-block;
			width: 10px;
			height: 10px;
			margin-right: 10px;
		}
	</style>
	<script src="static/Chart.min.js"></script>
	<script>
		function addGraph(node, data, for_single_file) {
			var ctx = node.getContext('2d');
			var customTooltip = function (tooltip) {
				// Tooltip Element
				var tooltipEl = document.getElementById('chartjs-tooltip');

				if (!tooltipEl) {
					tooltipEl = document.createElement('div');
					tooltipEl.id = 'chartjs-tooltip';
					tooltipEl.innerHTML = '<table></table>';
					document.body.appendChild(tooltipEl);
				}

				// Hide if no tooltip
				if (tooltip.opacity === 0) {
					tooltipEl.style.opacity = 0;
					return;
				}

				// Set caret Position
				tooltipEl.classList.remove('above', 'below', 'no-transform');
				if (tooltip.yAlign) {
					tooltipEl.classList.add(tooltip.yAlign);
				} else {
					tooltipEl.classList.add('no-transform');
				}

				function getBody(bodyItem) {
					var dataset = data.datasets[bodyItem.datasetIndex];
					var itemData = dataset.data[bodyItem.index];
					if (bodyItem.datasetIndex != 0)
						return dataset.label + ": " + Math.round(itemData['v'] * 100) / 100 + " s";
					else {
						return dataset.label + ": " + Math.round(itemData['v']) + " MB";
					}
				}

				// Set Text
				if (tooltip.body) {
					var titleLines = tooltip.title || [];
					var bodyLines = tooltip.dataPoints.map(getBody);

					var innerHtml = '<thead>';

					titleLines.forEach(function (title) {
						innerHtml += '<tr><th>' + title + '</th></tr>';
					});
					innerHtml += '</thead><tbody>';

					bodyLines.forEach(function (body, i) {
						var colors = tooltip.labelColors[i];
						var style = 'background:' + colors.backgroundColor;
						style += '; border-color:' + colors.borderColor;
						style += '; border-width: 2px';
						var span = '<span class="chartjs-tooltip-key" style="' + style + '"></span>';
						innerHtml += '<tr><td>' + span + body + '</td></tr>';
					});
					innerHtml += '</tbody>';

					var tableRoot = tooltipEl.querySelector('table');
					tableRoot.innerHTML = innerHtml;
				}

				var rect = this._chart.canvas.getBoundingClientRect();
				var positionY = rect.top + window.pageYOffset;
				var positionX = rect.left;

				// Display, position, and set styles for font
				tooltipEl.style.opacity = 1;
				tooltipEl.style.left = positionX + tooltip.caretX + 'px';
				tooltipEl.style.top = positionY + tooltip.caretY + 'px';
				tooltipEl.style.padding = tooltip.yPadding + 'px ' + tooltip.xPadding + 'px';
			};
			var options;
			if (for_single_file) {
				options = {
					animation: {
						duration: 0
					},
					hover: {
						animationDuration: 0
					},
					responsiveAnimationDuration: 0,
					elements: {
						line: {
							tension: 0
						}
					},
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero: true
							}
						}]
					},
					tooltips: {
						enabled: false,
						mode: 'index',
						intersect: false,
						custom: customTooltip
					}
				}
			} else {
				options = {
					animation: {
						duration: 0
					},
					hover: {
						animationDuration: 0
					},
					legend: {
						display: false,
					},
					responsiveAnimationDuration: 0,
					elements: {
						line: {
							tension: 0
						}
					},
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero: true
							}
						}]
					}
				}
			}
			var chart = new Chart(ctx, {
				type: 'line',
				data: data,
				options: options
			});
		}
		function loadChart(chartNode) {
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function () {
				if (this.readyState == 4 && this.status == 200) {
					var data = JSON.parse(this.responseText)
					var node = document.createElement("canvas");
					node.classList = ["chartContainer"];
					node.width = 500;
					node.height = 150;
					chartNode.appendChild(node);
					addGraph(node, data, true);
				}
			};
			var chartId = encodeURI(chartNode.getAttribute("data-chart-id"));
			if (chartId.includes(".csb")) {
				xhttp.open("GET", "/api/file/csb?id=%" + chartId, true);
			} else {
				xhttp.open("GET", "/api/file/ini?id=%" + chartId, true);
			}
			xhttp.send();
		}
		function loadSummaryChart(type) {
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function () {
				if (this.readyState == 4 && this.status == 200) {
					var data = JSON.parse(this.responseText)
					var node = document.getElementById(type + "_graph");
					addGraph(node, data, false);
				}
			};
			xhttp.open("GET", "/api/all/" + type + "?r1={{.RevisionLow}}&r2={{.RevisionHigh}}", true);
			xhttp.send();
		}
		function loadSummaryCharts() {
			document.getElementById("summary_charts").innerHTML =
				"<h1>Graphs</h1>\
					<h2>CSB Play Time</h2>\
					<canvas id=\"csb_play_time_graph\" width=\"500\" height=\"100\"></canvas>\
					<h2>CSB Memory</h2>\
					<canvas id=\"csb_memory_graph\" width=\"500\" height=\"100\"></canvas>\
					<h2>Ini Cutting Time</h2>\
					<canvas id=\"ini_cut_time_graph\" width=\"500\" height=\"100\"></canvas>\
					<h2>Ini Draw Time</h2>\
					<canvas id=\"ini_draw_time_graph\" width=\"500\" height=\"100\"></canvas>\
					<h2>Ini Memory</h2>\
					<canvas id=\"ini_memory_graph\" width=\"500\" height=\"100\"></canvas>";
			loadSummaryChart("csb_play_time");
			loadSummaryChart("csb_memory");
			loadSummaryChart("ini_cut_time");
			loadSummaryChart("ini_draw_time");
			loadSummaryChart("ini_memory");
		}
		window.onload = function () {
			for (let element of document.querySelectorAll(".toggle-table")) {
				let name = element.parentElement.getAttribute("data-js-name");
				let inBody = [];
				let next = element.parentElement.parentElement.nextElementSibling;
				while (next && next.getAttribute("data-field-start") !== "true") {
					inBody.push(next);
					next = next.nextElementSibling;
				}
				for (let detail of inBody) {
					detail.style.display = "none";
				}
				element.addEventListener("toggle", evt => {
					for (let detail of inBody) {
						if (element.open) {
							detail.style.display = "";
						} else {
							detail.style.display = "none";
						}
						var charts = detail.getElementsByClassName("chart");
						if (charts.length > 0) {
							var chart = charts[0];
							if (element.open) {
								loadChart(chart);
							} else {
								detail.getElementsByClassName("chartContainer")[0].remove();
							}
						}
					}
				});
			}
		}
	</script>
</head>

<body>
	<form>
	Revision range:
		<select name="r1">
			{{range $r := .Revisions}}<option{{if eq $r $.RevisionLow}} selected{{end}}>{{$r}}</option>{{end}}
		</select>
		<select name="r2">
			{{range $r := .Revisions}}<option{{if eq $r $.RevisionHigh}} selected{{end}}>{{$r}}</option>{{end}}
		</select>
		<!--Sort by: <select name="sort">
			<option {% if sort == "name" %}selected{%endif%}>name</option>
			<option {% if sort == "cut time" %}selected{%endif%}>cut time</option>
			<option {% if sort == "draw time" %}selected{%endif%}>draw time</option>
			<option {% if sort == "memory" %}selected{%endif%}>memory</option>
		</select>-->
		<input type="submit" value="Ok" />
	</form>
	<div id="summary_charts"><button onclick="loadSummaryCharts()">Load Summary Charts</button></div>

	<h1>CSB Benchmarks</h1>
	<table class="benchtable">
		<thead>
			<tr>
				<td></td>
				<th>r{{.RevisionLow}}</th>
				<th>r{{.RevisionHigh}}</th>
			</tr>
		</thead>
		<tbody>
			{{range $r := .CsbRows}}
			<tr data-field-start="true">
				<th data-js-name="{{$r.ConfigFile}}">
					<details class="toggle-table">
						<summary>{{$r.ConfigFile}}</summary>
					</details>
				</th>
				<td>time: <span style="color: {{call $.ToColor $r.TimeA $r.TimeB}}">
						{{call $.ToRelative $r.TimeA $r.TimeB}}</span>
				</td>
				<td>mem: <span style="color: {{call $.ToColor $r.MemoryA $r.MemoryB}}">
						{{call $.ToRelative $r.MemoryA $r.MemoryB}}</span>
				</td>
			</tr>
			<tr style="display:none">
				<th style="text-align: right">r{{$.RevisionLow}}</th>
				<td>{{printf "%.2f" $r.TimeA}} s</td>
				<td>{{printf "%.0f" $r.MemoryA}} MB</td>
			</tr>
			<tr style="display:none">
				<th style="text-align: right">r{{$.RevisionHigh}}</th>
				<td>{{printf "%.2f" $r.TimeB}} s</td>
				<td>{{printf "%.0f" $r.MemoryB}} MB</td>
			</tr>
			<tr style="display:none">
				<td colspan="3" class="chart" data-chart-id="{ { test.name }}">&nbsp;</td>
			</tr>
			{{end}}
		</tbody>
	</table>

	<h1>Ini Benchmarks</h1>
	<table class="benchtable">
		<thead>
			<tr>
				<td></td>
				<th>r{{.RevisionLow}}</th>
				<th>r{{.RevisionHigh}}</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for test in ini_tests %}
			<tr data-field-start="true">
				<th data-js-name="{ { test.name }}">
					<details class="toggle-table">
						<summary>{ { test.name }}</summary>
					</details>
				</th>
				<td>cut: <span style="color: { { to_color(val=test.cut_time_change) }}">
						{ { relative_change(val=test.cut_time_change) }}</span></td>
				<td>draw: <span style="color: { { to_color(val=test.draw_time_change) }}">
						{ { relative_change(val=test.draw_time_change) }}</span></td>
				<td>mem: <span style="color: { { to_color(val=test.memory_change) }}">
						{ { relative_change(val=test.memory_change) }}</span>
				</td>
			</tr>
			<tr style="display:none">
				<th style="text-align: right">r{{.RevisionLow}}:</th>
				<td>{ { test.cut_time0 | round(precision=2) }} s</td>
				<td>{ { test.draw_time0 | round(precision=2) }} s</td>
				<td>{ { test.memory0 | round(precision=0) }} MB</td>
			</tr>
			<tr style="display:none">
				<th style="text-align: right">r{{.RevisionHigh}}:</th>
				<td>{ { test.cut_time1 | round(precision=2) }} s</td>
				<td>{ { test.draw_time1 | round(precision=2) }} s</td>
				<td>{ { test.memory1 | round(precision=0) }} MB</td>
			</tr>
			<tr style="display:none">
				<td colspan="4" class="chart" data-chart-id="{ { test.name } }">&nbsp;</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

</html>
